.background-app {
    background: url('images/background.jpeg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.pizza-desk {
    width: 75%;
    position: relative;
    left: -80px;
    top: -60px;
}